.u-margin-top {
  margin: 15rem; }

.u-card-max-width {
  max-width: 60rem; }

.u-card-about-mw {
  max-width: 42rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Rubik", sans-serif;
  color: #222222;
  font-weight: 400;
  font-size: 1.6rem; }

.container {
  display: grid;
  grid-template-rows: 10rem calc(90vh - 10rem);
  grid-auto-rows: min-content;
  grid-template-columns: [full-start] 18rem [center-start] repeat(3, [col-start] 1fr [col-end]) [center-end] 18rem [full-end]; }

.button {
  display: inline-block;
  background: transparent;
  text-decoration: none;
  color: #222222;
  white-space: nowrap;
  font-weight: 700;
  border: 2px solid #222222;
  padding: 0.8rem 3rem;
  font-size: 2.5rem;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s; }
  .button--transparent {
    color: #4E4E4E;
    padding: 0.8rem 4.5rem;
    border: 2px solid #4E4E4E; }
    .button--transparent:hover {
      background-color: #4E4E4E;
      color: #FFFFFF; }
  .button--fill {
    background-color: #222222;
    color: #FFFFFF;
    box-shadow: 0 1rem 2rem rgba(34, 34, 34, 0.2); }
    .button--fill:hover {
      border: 2px solid #E74C3C;
      background-color: #E74C3C; }
  .button--inverse {
    border: 2px solid #FFFFFF;
    color: #FFFFFF; }
    .button--inverse:hover {
      background-color: #FFFFFF;
      color: #222222;
      border: 2px solid #FFFFFF; }

.btn {
  display: block; }
  .btn:not(:last-child) {
    margin-right: 2rem; }

.button-margin {
  display: block;
  margin-top: 2rem; }

.cards {
  grid-column: center-start / center-end;
  display: flex;
  justify-content: center;
  margin-bottom: 20rem; }
  .cards--home {
    position: relative;
    flex-flow: wrap;
    margin-top: -30vh; }
  .cards--img {
    flex-direction: column;
    align-items: center; }
  .cards__box {
    display: flex;
    margin-bottom: 10rem;
    align-items: center;
    justify-content: center; }

.card {
  z-index: 20;
  background-color: #FFFFFF;
  box-shadow: 0 1rem 2rem rgba(34, 34, 34, 0.2);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px; }
  .card--img {
    padding: 2rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .card--home {
    padding: 5rem 0 8rem 0;
    position: relative;
    text-align: center;
    min-width: 34rem; }
    .card--home:not(:last-child) {
      margin-right: 7rem; }
  .card--about {
    padding: 5rem; }
  .card__background {
    max-width: 43rem;
    min-width: 35rem; }
    .card__background--left {
      margin-right: -14rem; }
    .card__background--right {
      margin-left: -10rem; }
  .card__heading {
    line-height: 1.2;
    font-weight: 700;
    text-align: left;
    font-size: 4.3rem;
    margin-bottom: 2rem; }
  .card__span {
    font-weight: 700;
    width: 100%; }
  .card__img {
    width: 35%;
    height: 35%;
    margin-bottom: 3rem; }
  .card__button {
    margin: 2rem 0; }
  .card__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5rem; }

.elipse {
  overflow: hidden;
  clip-path: ellipse(100% 50% at 50% 50%);
  z-index: 1;
  background-color: #222222;
  color: #FFFFFF !important; }

.content__margin {
  margin: 15vh 0 20rem 0; }

.content__margin-2 {
  margin: 15vh 0 10rem 0; }

.section-definition--margin {
  margin-bottom: 15rem !important; }

.definition {
  grid-column: full-start/full-end;
  text-align: center;
  margin-bottom: 20rem;
  color: #222222; }
  .definition__content--flex {
    display: flex;
    line-height: 1.2;
    justify-content: center; }
  .definition__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2; }
    .definition__content--highlight {
      display: inline-block;
      background-color: #E74C3C;
      color: #FFFFFF;
      padding: 0.5rem 5rem;
      margin-bottom: 2rem;
      border-radius: 20rem;
      -webkit-border-radius: 20rem;
      -moz-border-radius: 20rem;
      -ms-border-radius: 20rem;
      -o-border-radius: 20rem; }
    .definition__content--heading {
      text-align: center;
      margin-bottom: 3rem; }
    .definition__content--span {
      font-weight: 700; }
    .definition__content--span-2 {
      font-weight: 700;
      font-size: 3.2rem; }
    .definition__content--text {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 2rem;
      font-weight: 400;
      line-height: 1.1;
      width: 45%; }
    .definition__content--text-2 {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 2rem;
      font-weight: 400;
      line-height: 1.1;
      text-align: left;
      width: 30%; }

.footer {
  grid-column: 1/ -1;
  clip-path: ellipse(100% 100% at 50% 100%);
  background-color: #222222;
  color: #FFFFFF;
  padding: 10rem 30rem; }
  .footer__container {
    display: flex;
    margin: 7rem 0;
    justify-content: space-between;
    text-align: left; }
    .footer__container--heading {
      font-size: 1.7rem;
      font-weight: 700; }
      .footer__container--heading:last-of-type {
        margin-top: 2rem; }
    .footer__container--link {
      display: block;
      text-decoration: none;
      color: #FFFFFF;
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out; }
      .footer__container--link:hover {
        color: #E74C3C; }
  .footer__social {
    display: flex;
    justify-content: space-between; }
  .footer__copyright::before {
    content: "";
    display: block;
    height: 2px;
    width: 2px;
    width: 35rem;
    background-color: #4E4E4E;
    margin-bottom: 4rem; }
  .footer__copyright--links {
    display: flex; }
  .footer__copyright--link {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    font-size: 1.3rem; }
    .footer__copyright--link:hover {
      color: #E74C3C; }
    .footer__copyright--link:not(:last-child) {
      margin-right: 4.5rem; }
  .footer__copyright--text {
    font-size: 9px; }

.navigation {
  grid-column: center-start/center-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0; }
  .navigation__menu {
    display: flex; }
    .navigation__menu--item {
      font-size: 1.6rem;
      font-weight: 400; }
    .navigation__menu--item:not(:last-child) {
      margin-right: 4rem; }
    .navigation__menu--link {
      text-decoration: none;
      color: #222222;
      transition: all 0.35s ease-in-out;
      -webkit-transition: all 0.35s ease-in-out;
      -moz-transition: all 0.35s ease-in-out;
      -ms-transition: all 0.35s ease-in-out;
      -o-transition: all 0.35s ease-in-out; }
      .navigation__menu--link::after {
        content: "";
        display: block;
        height: 3px;
        width: 3px;
        background-color: transparent;
        transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out; }
      .navigation__menu--link:hover {
        color: #E74C3C; }
      .navigation__menu--link:hover::after {
        width: 100%;
        background-color: #E74C3C; }
  .navigation__logo {
    height: 100%;
    width: auto; }
  .navigation__link {
    display: inline-block;
    height: 100%;
    width: auto; }

.header {
  grid-row: 2 / 4;
  grid-column: center-start/center-end;
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__content {
    margin-right: auto; }
    .header__content--faq {
      flex-basis: 45%;
      margin-right: 5rem; }
    .header__content--highlight {
      display: inline-block;
      background-color: #E74C3C;
      color: #FFFFFF;
      padding: 0.5rem 1.5rem;
      border-radius: 20rem;
      -webkit-border-radius: 20rem;
      -moz-border-radius: 20rem;
      -ms-border-radius: 20rem;
      -o-border-radius: 20rem; }
    .header__content--heading {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      font-size: 3.6rem;
      letter-spacing: 0;
      font-weight: 400;
      margin: 2rem 0;
      text-align: left;
      line-height: 1;
      flex-basis: 100%; }
    .header__content--heading-bold {
      font-size: 6rem;
      font-weight: 700; }
    .header__content--buttons {
      width: 100%;
      display: flex; }
    .header__content--text {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 2rem;
      font-weight: 400;
      line-height: 1.1;
      width: 85%;
      text-align: left; }
  .header__video {
    max-width: 65%;
    min-width: 38rem;
    flex-basis: 50%; }
    .header__video--file {
      width: 100%;
      height: auto;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px; }
  .header__background {
    max-width: 45%;
    min-width: 35%; }

.heading-1 {
  font-size: 5.5rem;
  font-weight: 700; }

.heading-2 {
  font-size: 4.3rem;
  font-weight: 700; }

.heading-5 {
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 1.1; }
  .heading-5__span {
    font-weight: 700; }

.heading-3 {
  font-size: 1.6rem;
  font-weight: 700; }
  .heading-3::after {
    content: "";
    display: block;
    height: 2px;
    width: 2px;
    width: 4rem;
    background-color: #E74C3C;
    margin-bottom: 2rem; }

.heading-4 {
  font-size: 1.4rem;
  font-weight: 700; }

.card__text {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 400;
  line-height: 1.1; }
  .card__text--home {
    color: #222222;
    text-transform: none;
    margin-bottom: 4rem; }
  .card__text--img {
    color: #222222;
    text-align: left;
    margin-bottom: 0.5rem; }
  .card__text--quote {
    font-weight: 300;
    font-style: italic;
    text-align: left; }
  .card__text--namepl {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: right;
    line-height: 1.1;
    margin-bottom: 1rem; }
  .card__text--datedes {
    font-size: 1rem;
    line-height: 1.1;
    color: #B5B5B5;
    font-weight: 700;
    text-align: right; }
