.cards {
  grid-column: center-start / center-end;
  display: flex;
  justify-content: center;
  margin-bottom: $margin-section;
  

  &--home{
    position: relative;
    flex-flow: wrap;
    margin-top: -30vh;
  }

  &--img{
    flex-direction: column; 
    align-items: center 
  }

  &__box {
    display: flex;
    margin-bottom: 10rem;
    align-items: center;
    justify-content: center;
  }
}

.card {
  z-index: 20;
  background-color: $color-white;
  box-shadow: $shadow-button;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  &--img {
    padding: 2rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  &--home {
    padding: 5rem 0 8rem 0;
    position: relative;
    text-align: center;
    min-width: 34rem;
    &:not(:last-child) {
        margin-right: 7rem;
      }
  }

  &__background {
    max-width: 43rem;
    min-width: 35rem;

    &--left {
     margin-right: -14rem;
    }

    &--right {
     margin-left: -10rem;
    }
  }

  &__text {
    @include texts;
    color: $color-primary;
    text-transform: none;
    margin-bottom: 4rem;
  }

  &__text-2 {
    @include texts;
    color: $color-primary;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  &__heading {
    line-height: 1.2;
    font-weight: 700;
    text-align: left;
    font-size: 4.3rem;
    margin-bottom: 2rem;
  }

  &__span {
    font-weight: 700;
    width: 100%;
  }

  &__img {
    width: 35%;
    height: 35%;
    margin-bottom: 3rem;
  }

  &__button {
      margin: 2rem 0;
  }
}
