.navigation {
  grid-column: center-start/center-end;
  display: flex;
  justify-content: space-between;
  position: relative;

  margin: 2rem 0;

  &__item {
    font-size: 16px;
    font-weight: 400;

    &:not(:last-child) {
      margin-right: 4rem;
    }

    @media only screen and (max-width: $bp-smallmid) {
      display: none;
    }
  }

  &__menu {
    display: flex;

  }

  &__logo {
    height: 100%;
    width: auto;
  }

  &__link {
    display: inline-block;

    &--logo {
      max-height: 100%;
      width: auto;
    }

    &--item {
      text-decoration: none;
      color: $color-primary;
      transition: all 0.35s ease-in-out;

      &::after {
        content: "";
        display: block;

        height: 3px;
        width: 3px;

        background-color: transparent;
        transition: all 0.35s ease-in-out;
      }

      &:hover {
        color: $color-secondary;
      }

      &:hover::after {
        width: 100%;
        background-color: $color-secondary;
      }
    }

    &--current {
      display: block;

      background-color: transparent;
      color: $color-secondary;

      &::after {
        height: 3px;
        width: 3px;

        background-color: $color-secondary;
        color: $color-secondary;
        width: 100%;
      }
    }
  }

  &__icon {
    display: none;
    color: $color-primary;
    
    @media only screen and (max-width: $bp-smallmid) {
      display: block;
      position: absolute;
    }
  }
}

@media only screen and (max-width: $bp-smallmid) {
  .responsive {
    display: block;
    position: sticky;
    width: 100vh;
    height: 100vh;
    background-color: $color-white;
    padding:2rem 4rem;
    z-index: 1000;
    margin: 0;

    & li{
      display: block; 
      margin-top: 3rem;
    }
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2 / 4;
  grid-column: center-start/center-end;

  padding: 10rem 0;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }

  &__content {
    margin-right: auto;
    flex-wrap: wrap;

    @media only screen and (max-width: $bp-medium) {
      margin-right: 0;
      margin-bottom: 5rem;
    }

    &--faq {
      flex-basis: 45%;

      margin-right: 5rem;
    }

    &--highlight {
      display: inline-block;

      padding: 0.5rem 1.5rem;
      border-radius: 20rem;

      background-color: $color-secondary;
      color: $color-white;
      font-size: 16px;
    }

    &--heading {
      display: flex;
      flex-basis: 100%;
      flex-direction: column;
      align-items: left;
      justify-content: center;

      margin: 2rem 0;
    }

    &--buttons {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__video {
    flex-basis: 50%;

    max-width: 65%;
    min-width: 38rem;

    @media only screen and (max-width: $bp-medium) {
      flex-basis: auto;
    }

    &--file {
      width: 100%;
      height: auto;
      border-radius: 25px;
    }
  }

  &__background {
    max-width: 45%;
    min-width: 35%;
  }
}
