//Section Definition
.elipse {
  z-index: 1;

  overflow: hidden;
  clip-path: ellipse(100% 50% at 50% 50%);
  background-color: $color-primary;
  color: $color-white!important;
}

.content__margin {
  margin: 15vh 0 20rem 0;
}

.content__margin-2 {
  margin: 15vh 0 10rem 0;
}


.section-definition--margin{
  margin-bottom:15rem !important;
}

.definition {
  grid-column: full-start/full-end;

  margin-bottom:$margin-section;
  
  text-align: center;
  color:$color-primary;

  &__content--flex {
    display: flex;
    line-height: 1.2;
    justify-content: center;
  }
  
  &__content {
    @include sectionCenter;
    
    &--highlight {
      display: inline-block;

      padding: 0.5rem 5rem;
      margin-bottom: 2rem;
      border-radius: 20rem;

      background-color: $color-secondary;
      color: $color-white;
    }  
  }
}








