//Section Definition
.elipse {
  overflow: hidden;
  clip-path: ellipse(100% 50% at 50% 50%);
  z-index: 1;
  background-color: $color-primary;
  color: $color-white!important;
}

.content__margin {
  margin: 15vh 0 20rem 0;
}

.content__margin-2 {
  margin: 15vh 0 10rem 0;
}


.section-definition--margin{
  margin-bottom:15rem !important;
}



.section-definition {
  grid-column: full-start/full-end;
  text-align: center;
  margin-bottom:$margin-section;
  color:$color-primary;

  &__content--flex {
    display: flex;
    line-height: 1.2;
    justify-content: center;
  }
  
  
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;

    &--highlight {
      display: inline-block;
      background-color: $color-secondary;
      color: $color-white;
      padding: 0.5rem 5rem;
      margin-bottom: 2rem;
      border-radius: 20rem;
      -webkit-border-radius: 20rem;
      -moz-border-radius: 20rem;
      -ms-border-radius: 20rem;
      -o-border-radius: 20rem;
    }

    &--heading {
      text-align: center;
      margin-bottom: 3rem;
    }

    &--span{
      font-weight: 700;
    }

    &--span-2{
      font-weight: 700;
      font-size: 3.2rem;
    }

    &--text {
      @include texts;
      width: 45%;
    }

    &--text-2 {
      @include texts;
      text-align: left;
      width: 30%;
    }
  }
}








