//Headings
.heading-1 {
  font-size: 5.5rem;
  font-weight: 700;
}

.heading-2 {
  font-size: 4.3rem;
  font-weight: 700;
}

.heading-3 {
  font-size: 1.6rem;
  font-weight: 700;

  &::after {
    content: "";
    display: block;

    margin-bottom: 2rem;
    height: 2px;
    width: 2px;
    width: 4rem;
    
    background-color: $color-secondary;
  }
}

.heading-4 {
  font-size: 1.4rem;
  font-weight: 700;
}

.heading-5 {
  line-height: 1.1;
  font-size: 3.8rem;
  font-weight: 400;

  &__span {
      font-weight: 700;
  }
}

//Cards Typography 

.card__text {
  @include texts;

  &--home {
    margin-bottom: 4rem;

    color: $color-primary;
    text-transform: none;
  }

  &--img {
    margin-bottom: 0.5rem;

    color: $color-primary;
    text-align: left;
  }

  &--quote {
      font-weight: 300;
      font-style: italic;
      text-align: left;
  }

  &--namepl {
      margin-bottom: 1rem;
      line-height: 1.1;

      font-size: 1.2rem;
      font-weight: 300;
      text-align: right; 
  }

  &--datedes{
      line-height: 1.1;

      color: $color-grey-light-3;
      font-weight: 700;
      font-size:1rem;
      text-align: right;
  }
}

//Hero Typography 

.header__content--heading{
  line-height: 1;
  letter-spacing: 0;
  
  font-size: 3.6rem;
  font-weight: 400;
  text-align: left;

  &-bold {
    font-size: 6rem;
    font-weight: 700;
  }
}

.header__content--text {
  @include texts;
  width: 85%;
  text-align: left;
}

//Section Typography 

.definition__content{
  &--heading {
    margin-bottom: 3rem;

    text-align: center;
  }

  &--span{
    font-weight: 700;
  }

  &--span-2{
    font-weight: 700;
    font-size: 3.2rem;
  }

  &--text {
    @include texts;
    width: 45%;

    @media only screen and (max-width: $bp-large){
    width:60%;
   }
  }

  &--text-2 {
    @include texts;
    text-align: left;
    width: 30%;

    @media only screen and (max-width: $bp-medium){
    width: 60%;
    text-align: center; 
    }

    &:not(:last-child){
      margin-right: 2rem;
      
      @media only screen and (max-width: $bp-medium){
       margin-right: 0; 
      }
    }
  }
}
