//Colors
$color-white: #FFFFFF;
$color-grey-dark-1:#4E4E4E;
$color-grey-dark-2: #0000004D;
$color-grey-light-1: #F8F8F8;
$color-grey-light-2: #4E4E4E33;
$color-grey-light-3: #B5B5B5;
$color-primary: #222222;
$color-secondary: #E74C3C;

//Margins

$margin-section: 20rem;
$margin-paragraph: 2rem;
$margin-buttons: 3rem;

//Font

$main-font: 'Rubik', sans-serif;

//Shadow
$shadow-button: 0 1rem 2rem rgba($color-primary, 0.2);

$shadow-cards:0px 12px 24px $color-grey-dark-1;

//utilities 

.u-margin-top{ margin-top:15rem;}

.u-card-max-width{max-width:60rem;}

.u-card-about-mw{min-width:30rem;}

