<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="description"
      content="We leverage diverse entrepreneurial experience to help businesses like yours build resilience even in times of crisis. Get 4000€ of consulting 100% subsidised!"
    />

    <title>
      Resilience Agency &#124; Rapidly build a more Resilient, Sustainable
      Business
    </title>
    <!-- Icon Fonts -->
    <script
      src="https://kit.fontawesome.com/79122c6b9f.js"
      crossorigin="anonymous"
    ></script>
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../favicon-16x16.png"
    />
    <link rel="manifest" href="../site.webmanifest" />

    <!-- External CSS -->
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />
    <link href="https://unpkg.com/sanitize.css/forms.css" rel="stylesheet" />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />

    <!--JS-->
    <script src="../js/responsive.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body class="container">
    <nav class="navigation">
      <a href="../index.html" class="navigation__link navigation__link--logo"
        ><img
          src="../media/icons/logo-main.svg"
          alt="Logo image"
          class="navigation__logo"
      /></a>
      <ul class="navigation__menu" id="nav">
        <a href="javascript:void(0);" class="navigation__icon" onclick="myFunction()">
          <i class="fas fa-bars fas-x4"></i>
        </a>
        <li class="navigation__item">
          <a href="./help.html" class="navigation__link navigation__link--item"
            >How we can help</a
          >
        </li>
        <li class="navigation__item">
          <a href="./about.html" class="navigation__link navigation__link--item navigation__link--current"
            >About</a
          >
        </li>
        <li class="navigation__item">
          <a
            href="./contact.html"
            class="navigation__link navigation__link--item"
            >Contact</a
          >
        </li>
        <li class="navigation__item">
          <a href="./faq.html" class="navigation__link navigation__link--item"
            >FAQ</a
          >
        </li>
      </ul>
    </nav>
    <header class="header">
      <div class="header__content header__content--faq">
        <h1 class="header__content--heading">
          <span class="header__content--heading-bold"
            >The Resilience<br />Agency Mission</span
          >
        </h1>
        <p class="header__content--text">
          Our consultancy, which is registered with the German Federal
          Government, dispenses invaluable business advice worth more than 4000€
          to SME’s and freelancers. We help our clients take full advantage of
          the 100% subsidised consulting services available through the BAFA
          program.
        </p>
        <div class="header__content--buttons">
          <a href="#faq-cards" class="btn button button--transparent"
            >Find out more &#9660;</a
          >
        </div>
      </div>
      <div class="header__background">
        <img
          src="../media/img/hero-about.svg"
          alt="Hero Background"
          class="header__background--img"
        />
      </div>
    </header>
    <section class="definition elipse">
      <div class="definition__content content__margin-2 definition__white">
        <h2 class="definition__content--heading heading-1">
          The Foundation of Our Consultancy<br />—26+ Years & 200+ Missions
        </h2>
        <p class="definition__content--text">
          Our founder, Robert “Rosho” Hopp, has dedicated nearly three decades
          to strengthening businesses throughout Europa and beyond. He has more
          than 200 successful consulting missions to his name, along with an
          immense network of knowledgeable, innovative, and multilingual
          consultants.
        </p>
        <p class="definition__content--text">
          It is years of combined entrepreneurial experience and Rosho’s
          augmented leadership approach that enable us to create effective
          solutions and get measurable results for our client’s.
        </p>
        <div class="definition__button">
          <a href="#" class="button button--inverse button-margin"
            >Book a free online meeting</a
          >
        </div>
      </div>
    </section>
    <section class="definition">
      <div class="definition__content--flex">
        <p class="definition__content--text-2">
          <span class="definition__content--span-2">
            We work with a diverse range of clients from freelancers to
            SMEs to the top 100 European corporations.</span
          ><br />
          <br />With that in mind, now is the time to build resilience. It’s
          essential in times like these to be able to rapidly find and implement
          new ways of saving money that will be sustainable in the long-term.
        </p>
        <p class="definition__content--text-2">
          Rosho and our team have proven over and again that smarter use of
          digital processes and related methodologies are a viable solution.
          Supporting businesses in becoming lean and agile, adapting swiftly to
          change, and embracing augmentation is at the core of what we do.
          <br />
          <br />Specifically, we excel at using our extensive language skills
          and cultural openness to assist expat businesses in Germany, which are
          often overlooked.
        </p>
      </div>
    </section>
    <section class="cards cards--img">
      <h2 class="heading-5">
        Recommendation From Our Clients<br /><span class="heading-5__span"
          >A Glimpse Into the Value We Offer</span
        >
      </h2>
      <div class="cards__grid u-margin-top">
        <div class="card card--about u-card-about-mw">
          <p class="card__text card__text--quote">
            ’’I had the opportunity to work with Robert in a short term project.
            He showed his Programme manager skills and was able to contribute
            and grasp the main parts of the work. I would highly recommend and
            work again with him at any time, his skills and experience are an
            asset to any project’’.
          </p>
          <p class="card__text card__text--namepl">
            <span class="heading-4">Patrick Revel</span><br />
            Managing Delivery Architect / Big Data resident Expert bei etl23
          </p>
          <p class="card__text card__text--datedes">
            November 14, 2017, Robert (Rosho) worked<br />
            with Patrick in the same group
          </p>
        </div>
        <div class="card card--about u-card-about-mw">
          <p class="card__text card__text--quote">
            ’’Robert Hopp was my Project Manager of the overall Digital
            Transformation, under which were my Contact Center Solution and
            Wireless LAN implementation Projects. Robert helped me greatly,
            helping me to see the end goal in my project(s). He provided me with
            unwavering support’’.
          </p>
          <p class="card__text card__text--namepl">
            <span class="heading-4"> Tim Metzger</span><br />
            Director and Snr. Partner at Sales Solutions and Imports
          </p>
          <p class="card__text card__text--datedes">
            October 5, 2015, Tim reported directly to Robert (Rosho) <br />
          </p>
        </div>
        <div class="card card--about u-card-about-mw">
          <p class="card__text card__text--quote">
            ’’Over the last 2 years, Robert proved to be not only pragmatic but
            also very dynamic and really knows how to tackle problems or issues.
            He quickly comes up with good practical solutions. Robert helped us
            to initiate and build strong partnerships with major NGOs like
            PlanetFinance, in order to develop and promote Fonxio’’.
          </p>
          <p class="card__text card__text--namepl">
            <span class="heading-4">Jonas Hopp</span><br />
            Managing Delivery Architect / Big Data resident Expert bei etl23
          </p>
          <p class="card__text card__text--datedes">
            November 14, 2017, Robert (Rosho) worked<br />
            with Patrick in the same group
          </p>
        </div>
        <div class="card card--about u-card-about-mw">
          <p class="card__text card__text--quote">
            ’’In 2014 I worked together in an challenging Managed Cloud project
            with Robert Hopp. My experience was very good during our time
            together. Robert is very helpful senior professional that works hard
            and is very solution oriented. So I can strongly recommend Robert’’.
          </p>
          <p class="card__text card__text--namepl">
            <span class="heading-4">Thomas Panzer</span><br />
            Independent IT Consultant
          </p>
          <p class="card__text card__text--datedes">
            June 7, 2016, Thomas reported directly to Robert (Rosho)
          </p>
        </div>
      </div>
      <a href="#" class="btn button button--fill">Go to linkedin</a>
    </section>
    <footer class="footer">
      <div class="footer__container">
        <div class="footer__container--content">
          <h5 class="heading-3">Find us</h5>
          <h6 class="footer__container--heading heading-4">Address</h6>
          <p class="footer__container--text">
            Nikolsburger Platz<br />10717 Berlin
          </p>
          <br />
          <a href="tel:015738601350" class="footer__container--link"
            >Tel:015738601350</a
          >
          <a
            href="mailto:info@resilience.agency"
            class="footer__container--link"
            >info@resilience.agency</a
          >
          <h6 class="footer__container--heading heading-4">Opening hours</h6>
          <p class="footer__container--text">
            Monday&ndash;Friday:09:00&ndash;17:00
          </p>
          <p class="footer__container--text">
            Saturday&ndash;Sunday:11:00&ndash;15:00
          </p>
        </div>
        <div class="footer__container--content">
          <h5 class="heading-3">Recent posts</h5>
          <a href="#" class="footer__container--link"
            >BAFA Subsidy has been raised to 100%</a
          >
        </div>
        <div class="footer__container--content">
          <h5 class="heading-3">Follow us and Share!</h5>
          <div class="footer__social">
            <a href="#" class="footer__container--link">
              <svg class="fab fa-linkedin fa-2x"></svg>
            </a>
            <a href="#" class="footer__container--link">
              <svg class="fab fa-instagram fa-2x"></svg>
            </a>
            <a href="#" class="footer__container--link">
              <svg class="fab fa-facebook-square fa-2x"></svg>
            </a>
            <a href="#" class="footer__container--link">
              <svg class="fab fa-twitter fa-2x"></svg>
            </a>
          </div>
        </div>
      </div>
      <div class="footer__copyright">
        <div class="footer__copyright--links">
          <a href="#" class="footer__copyright--link">Impressum</a>
          <a href="#" class="footer__copyright--link">Datenschutz</a>
          <a href="./faq.html" class="footer__copyright--link">FAQ</a>
        </div>
        <p class="footer__copyright--text">
          &copy;(Page created for a client, modified to use on profesional
          portafolio)
        </p>
      </div>
    </footer>
  </body>
</html>
