<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="description"
      content="We leverage diverse entrepreneurial experience to help businesses like yours build resilience even in times of crisis. Get 4000€ of consulting 100% subsidised!"
    />

    <title>
      Resilience Agency &#124; Rapidly build a more Resilient, Sustainable
      Business
    </title>
    <!-- Icon Fonts -->
    <script
      src="https://kit.fontawesome.com/79122c6b9f.js"
      crossorigin="anonymous"
    ></script>
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../favicon-16x16.png"
    />
    <link rel="manifest" href="../site.webmanifest" />

    <!-- External CSS -->
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />
    <link href="https://unpkg.com/sanitize.css/forms.css" rel="stylesheet" />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body class="container">
    <nav class="navigation">
      <a href="../index.html" class="navigation__link"
        ><img
          src="../media/icons/logo-main.svg"
          alt="Logo image"
          class="navigation__logo"
      /></a>
      <ul class="navigation__menu">
        <li class="navigation__menu--item">
          <a href="./help.html" class="navigation__menu--link"
            >How we can help</a
          >
        </li>
        <li class="navigation__menu--item">
          <a href="#" class="navigation__menu--link">Subsidies</a>
        </li>
        <li class="navigation__menu--item">
          <a href="./about.html" class="navigation__menu--link">About</a>
        </li>
        <li class="navigation__menu--item">
          <a href="#" class="navigation__menu--link">Blog</a>
        </li>
        <li class="navigation__menu--item">
          <a href="#" class="navigation__menu--link">Contact</a>
        </li>
        <li class="navigation__menu--item">
          <a href="./faq.html" class="navigation__menu--link">FAQ</a>
        </li>
        <li class="navigation__menu--item">
          <a href="#" class="navigation__menu--link">Clients</a>
        </li>
        <li class="navigation__menu--item">
          <a href="#" class="navigation__menu--link">Partners</a>
        </li>
    </nav>
    <header class="header">
      <div class="header__content header__content--faq">
        <h1 class="header__content--heading">
          <span class="header__content--heading-bold"
            >Frequently<br />Asked Questions</span
          >
        </h1>
        <p class="header__content--text">
          Do you have questions about what we do? Get answers to some of the
          most common questions we hear.
        </p>
        <div class="header__content--buttons">
          <a href="#faq-cards" class="btn button button--transparent">Find out more &#9660;</a>
        </div>
      </div>
      <div class="header__background">
        <img
          src="../media/img/hero-faq.svg"
          alt=""
          class="header__background--img"
        />
      </div>
    </header>
    <section class="cards cards--img u-margin-top" id="faq-cards">
      <div class="cards__box">
        <div class="card__background">
          <img
            src="../media/img/faq-card-1.svg"
            alt=""
            class="card__background--left"
          />
        </div>
        <div class="card card--img u-card-max-width">
          <h3 class="card__heading">
            What is BAFA?
          </h3>
          <p class="card__text card__text--img">
            BAFA is the authority responsible for export control, economic
            development for SME’s, etc. Our consulting services are based on its
            framework.
          </p>
          <div class="card__button">
            <a href="#" class="button button--fill">Learn more</a>
          </div>
        </div>
      </div>
      <div class="cards__box">
        <div class="card card--img u-card-max-width">
          <h3 class="card__heading">
            What is the BAFA subsidy for?
          </h3>
          <p class="card__text card__text--img">
            The German government can fully subsidise in advance up to 4000€ to
            be used by SMEs for business consulting services through a certified
            consultancy like ours.
          </p>
          <div class="card__button">
            <a href="#" class="button button--fill">Learn more</a>
          </div>
        </div>
        <div class="card__background">
          <img
            src="../media/img/faq-card-2.svg"
            alt=""
            class="card__background--right"
          />
        </div>
      </div>
      <div class="cards__box">
        <div class="card__background">
          <img
            src="../media/img/faq-card-3.svg"
            alt=""
            class="card__background--left"
          />
        </div>
        <div class="card card--img u-card-max-width">
          <h3 class="card__heading">
            What is the KfW Quick Loan? Am I eligible?
          </h3>
          <p class="card__text card__text--img">
            Enterprises with 10 or more employees that were active on the market
            before January 1, 2019 may be eligible to receive a rapid loan of up
            to 800,000€.
          </p>
          <div class="card__button">
            <a href="#" class="button button--fill">Learn more</a>
          </div>
        </div>
      </div>
      <div class="cards__box">
        <div class="card card--img u-card-max-width">
          <h3 class="card__heading">
            What is resilience? How can your agency help me build it?
          </h3>
          <p class="card__text card__text--img">
            Resilience is the ability to cope with hardships. We combine
            expertise and innovation to help you adapt quickly and rise above
            challenges.
          </p>
          <div class="card__button">
            <a href="#" class="button button--fill">Learn more</a>
          </div>
        </div>
        <div class="card__background">
          <img
            src="../media/img/faq-card-4.svg"
            alt=""
            class="card__background--right"
          />
        </div>
      </div>
      <div class="cards__box">
        <div class="card__background">
          <img
            src="../media/img/faq-card-5.svg"
            alt=""
            class="card__background--left"
          />
        </div>
        <div class="card card--img u-card-max-width">
          <h3 class="card__heading">
            What can your consultants advise me on?
          </h3>
          <p class="card__text card__text--img">
            We can offer innovative and pragmatic solutions related to going
            digital, saving money, expanding products and services, managing
            personnel, and much more.
          </p>
          <div class="card__button">
            <a href="#" class="button button--fill">Learn more</a>
          </div>
        </div>
      </div>
      <div class="cards__box">
        <div class="card card--img u-card-max-width">
          <h3 class="card__heading">
            What are your consulting qualifications?
          </h3>
          <p class="card__text card__text--img">
            Not only are we certified by the German government to provide
            consulting based on the BAFA framework, but we also have many
            diverse business experiences to draw from.
          </p>
          <div class="card__button">
            <a href="#" class="button button--fill">Learn more</a>
          </div>
        </div>
        <div class="card__background">
          <img
            src="../media/img/faq-card-6.svg"
            alt=""
            class="card__background--right"
          />
        </div>
      </div>
    </section>
    <section class="definition">
        <div class="definition__content">
          <h2 class="definition__content--heading heading-1">
            Do You Still<br/>Have Questions?
          </h2>
        </div>
        <a href="#" class="button button--fill">Book a free meeting</a>
      </section>
    <footer class="footer">
        <div class="footer__container">
          <div class="footer__container--content">
            <h5 class="heading-3">Find us</h5>
            <h6 class="footer__container--heading heading-4">Address</h6>
            <p class="footer__container--text">
              Nikolsburger Platz<br />10717 Berlin
            </p>
            <br />
            <a href="tel:015738601350" class="footer__container--link"
              >Tel:015738601350</a
            >
            <a
              href="mailto:info@resilience.agency"
              class="footer__container--link"
              >info@resilience.agency</a
            >
            <h6 class="footer__container--heading heading-4">Opening hours</h6>
            <p class="footer__container--text">
              Monday&ndash;Friday:09:00&ndash;17:00
            </p>
            <p class="footer__container--text">
              Saturday&ndash;Sunday:11:00&ndash;15:00
            </p>
          </div>
          <div class="footer__container--content">
            <h5 class="heading-3">Recent posts</h5>
            <a href="#" class="footer__container--link"
              >BAFA Subsidy has been raised to 100%</a
            >
          </div>
          <div class="footer__container--content">
            <h5 class="heading-3">Follow us and Share!</h5>
            <div class="footer__social">
              <a href="#" class="footer__container--link">
                <svg class="fab fa-linkedin fa-2x"></svg>
              </a>
              <a href="#" class="footer__container--link">
                <svg class="fab fa-instagram fa-2x"></svg>
              </a>
              <a href="#" class="footer__container--link">
                <svg class="fab fa-facebook-square fa-2x"></svg>
              </a>
              <a href="#" class="footer__container--link">
                <svg class="fab fa-twitter fa-2x"></svg>
              </a>
            </div>
          </div>
        </div>
        <div class="footer__copyright">
          <div class="footer__copyright--links">
            <a href="#" class="footer__copyright--link">Impressum</a>
            <a href="#" class="footer__copyright--link">Datenschutz</a>
            <a href="./faq.html" class="footer__copyright--link">FAQ</a>
          </div>
          <p class="footer__copyright--text">
            &copy;(Page created for a client, modified to use on profesional
            portafolio)
          </p>
        </div>
      </footer>
  </body>
</html>
