<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="description"
      content="We leverage diverse entrepreneurial experience to help businesses like yours build resilience even in times of crisis. Get 4000€ of consulting 100% subsidised!"
    />

    <title>
      Resilience Agency &#124; Rapidly build a more Resilient, Sustainable
      Business
    </title>
    <!-- Icon Fonts -->
    <script
      src="https://kit.fontawesome.com/79122c6b9f.js"
      crossorigin="anonymous"
    ></script>
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../favicon-16x16.png"
    />
    <link rel="manifest" href="../site.webmanifest" />

    <!-- External CSS -->
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />
    <link href="https://unpkg.com/sanitize.css/forms.css" rel="stylesheet" />

    <!-- Fonts -->
    <link
    href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,300&display=swap"
    rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body class="container">
    <nav class="navigation">
      <a href="../index.html" class="navigation__link navigation__link--logo"
        ><img
          src="../media/icons/logo-main.svg"
          alt="Logo image"
          class="navigation__logo"
      /></a>
      <ul class="navigation__menu">
        <li class="navigation__item">
          <a href="./help.html" class="navigation__link navigation__link--item navigation__link--current">How we can help</a>
        </li>
        <li class="navigation__item">
          <a href="./about.html" class="navigation__link navigation__link--item">About</a>
        </li>
        <li class="navigation__item">
          <a href="./contact.html" class="navigation__link navigation__link--item">Contact</a>
        </li>
        <li class="navigation__item">
          <a href="./faq.html" class="navigation__link navigation__link--item">FAQ</a>
        </li>
      </ul>
    </nav>
    <header class="header">
      <div class="header__content">
        <h1 class="header__content--heading">
          How we can help<br /><span class="header__content--heading-bold"
            >Boost Your Entrepreneurial<br />Know-How For Maximum<br />Resilience</span
          >
        </h1>
        <p class="header__content--text">
          We leverage the BAFA consulting framework to provide practical advice
          on key aspects of business management including economic, financial,
          organizational, and personnel-related matters.
        </p>
        <div class="header__content--buttons">
          <a href="#" class="btn button button--transparent">Learn More</a>
        </div>
      </div>
      <div class="header__background">
        <img
          src="../media/img/hero-help.svg"
          alt=""
          class="header__background--img"
        />
      </div>
    </header>
    <section class="definition elipse">
      <div
        class="definition__content content__margin-2 definition__white"
      >
        <h2 class="definition__content--heading heading-1">
          Recognized By the German<br />Federal Goverment
        </h2>
        <p class="definition__content--text">
          Our consultancy is government-registered and provides pragmatic advice
          to businesses impacted by coronavirus. We offer well over 4000€ in
          entrepreneurial expertise to our customers, helping them to benefit
          from the BAFA program, which is 100% subsidised.
        </p>
        <div class="definition__button">
          <a href="#" class="button button--inverse button-margin"
            >Book a free online consultation</a
          >
        </div>
      </div>
    </section>
    <section class="definition">
      <div class="definition__content--flex">
        <p class="definition__content--text-2">
          Consulting firms, religious organizations, agriculture-related
          businesses and those that have filed for bankruptcy are not eligible
          for subsidiaries, along with non-profits, public businesses, and
          NGO’s.
        </p>
        <p class="definition__content--text-2">
          <span class="definition__content--span-2"
            >Resilience Agency can still<br />offer invaluable advice to all
            of<br />these businesses.</span
          >
        </p>
      </div>
    </section>
    <section class="cards cards--img">
        <div class="cards__box">
            <div class="card__background">
                <img
                  src="../media/img/help-card-1.svg"
                  alt="Help card 1 image"
                  class="card__background--left"
                />
              </div>
          <div class="card card--img">
            <h3 class="card__heading">
              Survive sanitary and<br/>economic crisis
            </h3>
            <p class="card__text card__text--img">
              &#8226; Ensuring sustainability despite coronavirus and other crises
            </p>
            <p class="card__text card__text--img">
              &#8226; Practising non-disrupting cost-saving
            </p>
            <p class="card__text card__text--img">
              &#8226; Developing solid, new business models in times of crisis
            </p>
          </div>
        </div>
        <div class="cards__box">
          <div class="card card--img">
            <h3 class="card__heading">
              Mastering Digital Business
            </h3>
            <p class="card__text card__text--img">
              &#8226; Embracing e-commerce and selling online
            </p>
            <p class="card__text card__text--img">
              &#8226; Implementing contactless payment methods
            </p>
            <p class="card__text card__text--img">
              &#8226; Managing online payments and order processes efficiently
            </p>
            <p class="card__text card__text--img">
              &#8226; Mastering internal and external digital processes of any
              kind
            </p>
          </div>
          <div class="card__background">
            <img
              src="../media/img/help-card-2.svg"
              alt="Help card 2 image"
              class="card__background--right"
            />
          </div>
        </div>
        <div class="cards__box">
            <div class="card__background">
                <img
                  src="../media/img/help-card-3.svg"
                  alt="Help card 3 image"
                  class="card__background--left"
                />
              </div>
          <div class="card card--img">
            <h3 class="card__heading">
              Organisation Optimisation
            </h3>
            <p class="card__text card__text--img">
              &#8226; Becoming a lean agile adaptive organisation
            </p>
            <p class="card__text card__text--img">
              &#8226; Finding exceptional employees
            </p>
            <p class="card__text card__text--img">
              &#8226; Navigating remote work as a manager
            </p>
            <p class="card__text card__text--img">
              &#8226; Managing virtual and distributed teams
            </p>
          </div>
        </div>
        <div class="cards__box">
          <div class="card card--img">
            <h3 class="card__heading">
              Find Profitable New Markets
            </h3>
            <p class="card__text card__text--img">
              &#8226; Handling imports, exports, and expansion
            </p>
            <p class="card__text card__text--img">
              &#8226; Offering new products and services
            </p>
          </div>
          <div class="card__background">
            <img
              src="../media/img/help-card-4.svg"
              alt="Help card 4 image"
              class="card__background--right"
            />
          </div>
        </div>
        </div>
        <div class="cards__box">
            <div class="card__background">
                <img
                  src="../media/img/help-card-5.svg"
                  alt="Help card 5 image"
                  class="card__background--left"
                />
              </div>
          <div class="card card--img">
            <h3 class="card__heading">
              Groundbreaking Innovation
            </h3>
            <p class="card__text card__text--img">
              &#8226; Exploring new mobility concepts
            </p>
            <p class="card__text card__text--img">
              &#8226; Considering new energy (and renewable energy) options
            </p>
          </div>
        </div>
      </section>
    <div class="definition">
      <div class="definition__content">
        <h2 class="definition__content--heading heading-1">
          Our Capabilities<br />Are Extensive
        </h2>
        <p class="definition__content--text">
          Our consulting team can provide expert advice on a variety of other
          topics to bolster the resilience of your business. Just tell us about
          yourself and your situation, and we’ll take it from there!
        </p>
      </div>
      <a href="#" class="button button--fill">Book a free meeting</a>
    </div>
    <footer class="footer">
      <div class="footer__container">
        <div class="footer__container--content">
          <h5 class="heading-3">Find us</h5>
          <h6 class="footer__container--heading heading-4">Address</h6>
          <p class="footer__container--text">
            Nikolsburger Platz<br />10717 Berlin
          </p>
          <br />
          <a href="tel:015738601350" class="footer__container--link"
            >Tel:015738601350</a
          >
          <a
            href="mailto:info@resilience.agency"
            class="footer__container--link"
            >info@resilience.agency</a
          >
          <h6 class="footer__container--heading heading-4">Opening hours</h6>
          <p class="footer__container--text">
            Monday&ndash;Friday:09:00&ndash;17:00
          </p>
          <p class="footer__container--text">
            Saturday&ndash;Sunday:11:00&ndash;15:00
          </p>
        </div>
        <div class="footer__container--content">
          <h5 class="heading-3">Recent posts</h5>
          <a href="#" class="footer__container--link"
            >BAFA Subsidy has been raised to 100%</a
          >
        </div>
        <div class="footer__container--content">
          <h5 class="heading-3">Follow us and Share!</h5>
          <div class="footer__social">
            <a href="#" class="footer__container--link">
              <svg class="fab fa-linkedin fa-2x"></svg>
            </a>
            <a href="#" class="footer__container--link">
              <svg class="fab fa-instagram fa-2x"></svg>
            </a>
            <a href="#" class="footer__container--link">
              <svg class="fab fa-facebook-square fa-2x"></svg>
            </a>
            <a href="#" class="footer__container--link">
              <svg class="fab fa-twitter fa-2x"></svg>
            </a>
          </div>
        </div>
      </div>
      <div class="footer__copyright">
        <div class="footer__copyright--links">
          <a href="#" class="footer__copyright--link">Impressum</a>
          <a href="#" class="footer__copyright--link">Datenschutz</a>
          <a href="./faq.html" class="footer__copyright--link">FAQ</a>
        </div>
        <p class="footer__copyright--text">
          &copy;(Page created for a client, modified to use on profesional
          portafolio)
        </p>
      </div>
    </footer>
  </body>
</html>
